{% extends 'base.html.twig' %}

{% block app_navigation_tabs %}
  <li>
    <a href="#">Comptes</a>
  </li>
  <li>
    <a href="#">Budget</a>
  </li>
  <li>
    <a href="#">Opérations</a>
  </li>
{% endblock %}

{% block body %}

{% endblock %}
