<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Mes outils internes</title>
    
    {{ importmap('app') }}
    {% block importmap %}{% endblock %}
    {% block javascripts %}{% endblock %}
  
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
    {% block stylesheets %}{% endblock %}
  </head>
  
  <body class="bg-gray-50 text-gray-800 min-h-screen">
    {% if app.user and display_site_navigation|default(true) %}
      <header class="bg-white p-3 flex justify-between align-center">
        {# https://heroicons.com #}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="w-10 fill-gray-400">
          <path fill-rule="evenodd" d="M4.25 2A2.25 2.25 0 0 0 2 4.25v2.5A2.25 2.25 0 0 0 4.25 9h2.5A2.25 2.25 0 0 0 9 6.75v-2.5A2.25 2.25 0 0 0 6.75 2h-2.5Zm0 9A2.25 2.25 0 0 0 2 13.25v2.5A2.25 2.25 0 0 0 4.25 18h2.5A2.25 2.25 0 0 0 9 15.75v-2.5A2.25 2.25 0 0 0 6.75 11h-2.5Zm9-9A2.25 2.25 0 0 0 11 4.25v2.5A2.25 2.25 0 0 0 13.25 9h2.5A2.25 2.25 0 0 0 18 6.75v-2.5A2.25 2.25 0 0 0 15.75 2h-2.5Zm0 9A2.25 2.25 0 0 0 11 13.25v2.5A2.25 2.25 0 0 0 13.25 18h2.5A2.25 2.25 0 0 0 18 15.75v-2.5A2.25 2.25 0 0 0 15.75 11h-2.5Z" clip-rule="evenodd" />
        </svg>
        
        <ul>
          <span>Pages du site</span>
          {% block app_navigation_tabs %}{% endblock %}
        </ul>
      </header>
    {% endif %}
    
    {% block body %}{% endblock %}
  </body>
</html>
