<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Mes outils internes</title>
    
    {{ importmap('app') }}
    {% block importmap %}{% endblock %}
    {% block javascripts %}{% endblock %}
  
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
    {% block stylesheets %}{% endblock %}
  </head>
  
  <body class="bg-gray-50 text-gray-800 min-h-screen">
    {% if app.user and display_site_navigation|default(true) %}
      <header class="bg-white p-3">
        <ul class="flex justify-between items-center root-container text-gray-400">
          <li class="flex items-center gap-1">
            Navigation
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4">
              <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
            </svg>
            <ul class="hidden">
              {% block app_navigation_tabs %}{% endblock %}
            </ul>
          </li>
          <li>Applications</li>
        </ul>
      </header>
    {% endif %}
    
    {% block body %}{% endblock %}
  </body>
</html>
