<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Mes outils internes</title>
    
    {{ importmap('app') }}
    {% block importmap %}{% endblock %}
    {% block javascripts %}{% endblock %}
  
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
    {% block stylesheets %}{% endblock %}
  </head>
  
  <body class="bg-gray-50 text-gray-800 min-h-screen">
    {% block body %}{% endblock %}
  </body>
</html>
